

/* Page Wrapper */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Main Content */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Banner Section */
.bannerContainer {
  position: relative;
  width: 100vw;
  height: auto;
}

.fullWidthImg {
  width: 100%;
  height: auto;
  display: block;
}

/* Overlay Content */
.overlayContent {
  position: absolute;
  top: 65%;
  left: 100px;
  transform: translateY(-50%);
  color: #C7EDFF;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  line-height: .2;
}

.name {
  font-size: 90px;
  line-height: 0;
}

.overlayContent h2{
  font-size: 60px;
}

.logo {
  position: absolute;
  top: 10%;
  right: 8%;
  width: 20px;
  transition: transform 0.3s ease-out;
}

/* snap scroll */
.scroller {
  min-height: 100vh; /* Allows scrolling beyond the last image */
  overflow-y: auto; /* Enables proper scrolling */
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.scroller section {
  scroll-snap-align: start;
  width: 100vw;
  min-height: 100vh; /* Ensures sections are full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller section img {
  width: auto;
  max-height: 80vh; /* Adjusted so images fit well */
  object-fit: contain;
}