.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 100px 30px 100px;
  background-color: hsl(210, 82%, 15%);
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.logoImage {
  width: auto;
}

.links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #C7EDFF;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-bottom: 4px solid transparent;
}

.link:hover {
  color: #FF8C00;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

/* Responsive tweak */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 40px 20px;
  }

  .links {
    justify-content: center;
    margin-top: 20px;
  }

  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }
}
