.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px 30px;
  background-color: hsl(210, 82%, 15%);
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #C7EDFF;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  transition: color 0.3s ease;
}

.link:hover {
  color: #FF8C00;
}

.copyright {
  font-size: 16px;
  color: white;
  margin: 0 auto;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .logo,
  .links {
    justify-content: center;
  }

  .links {
    flex-wrap: wrap;
  }

  .copyright {
    order: 2;
    margin-top: 1rem;
  }
}
